*{
    margin: 0;
    padding: 0;
}
.menu{ 
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.caixa-pesquisa{
    border: none;

}

#barra-pesquisa{
    padding: 8px;
    width: 250px;
    border: none;

}

.logo-pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.menu-lista{
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    
}
li a{
    font-family: arial;
    text-decoration: none;
    color: black;

}
li {
    list-style: none;
}
.caixa-login{
    display: flex;
    align-items: center;
    justify-content: center;

}
.texto-login{
    color: white;
    font-size: 12px;
    border: none;
    background-color: #EB662B;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 200px;

}

.banner{
    background-image: url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.section-center{
display: flex;
justify-content: center; 

}

.caixa-titulo-banner{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.titulo-banner{
    color: white;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    font-size: 60px;
    padding: 10px;
}
.texto-banner{
    color: white;
    font-size: 15px;
    font-family: arial;
    padding: 10px;
}
.opcoes-pesquisa{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px  ;
    border-radius: 15px;
}
.quadrado{
    border: 1px solid lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.onde{
    display: flex;
    flex-direction: row;    
}
.quando{
    display: flex;
    flex-direction: row;    
}
.tipo{
    display: flex;
    flex-direction: row;    
}
.caixa-subtexto-banner{
    padding: 10px;
}
.btn-search{
    background-color: #EB662B;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 130px;

}


.caixa-elementos-banner{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo-primario{
    
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    display: flex;

    

}
.bi{
    color: #EB662B;
    font-size: 40px;
}
.titulo-qualidades{
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}
.texto-qualidades{
    font-family: Arial;
    font-size: 12px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.caixa-qualidades{
    margin-top: 50px ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.caixa-destinos{
    margin-top: 50px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.destinos{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.img-destinos{
    width: 130px;
    height: 130px;
}
.section-mid{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}
.section-low{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dercerto{
    width: 1600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.deucerto{
    width: 1600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.card-popular{
    border: 1px solid lightgray;
    width: 300px;
    height: 380px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
}
.img-popular{
    width: 300px;
    height: 200px;
}

.section-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.continuacerto{
    width: 1600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

hr{
    display: flex;
    justify-content: center;
    width: 270px;
    
}

.subtexo-card{
    font-family: arial;
    font-size: 12px;
}

.bottom-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.caixa-texto-card{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.localidade-card{
    display: flex;
    width: 100%;
    justify-content: flex-start;

}
.preco-card{
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}
.caixa-preco{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.caixa-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 1600px;
    flex-wrap: wrap;
}
.titulo-card{
    font-family: arial;
    font-size: 16px;
    width: 290px;
    font-weight: bold;

}
.texto-localidade-card{
    font-family: arial;
    font-size: 12px;
    color: darkgrey;
    width: 110px;
    display: flex;
    justify-content: center;
}